body {
    font: 18px Georgia, 'Times New Roman', Times, serif;;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    background: #fff;
    border: 1px solid #999;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
}

td.in-block {
    width: 24px;
    height: 24px;
    border-width: 0px;
}

.grid {
    padding: 0px;
    border: none;
    width: 75px;
    height: 75px;
    text-align: center;
    font-weight: bold;
}

input.grid {
    font-size: 32px;
}

.given {
    color: black;
}

.placed {
    color: blue;
}

.mark {
    background: #fff;
    border: none;
    width: 95%;
    height: 95%;
    text-align: center;
    font: 16px Georgia, 'Times New Roman', Times, serif;;
}
  
.puzzle {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.library {
    margin-bottom: 20px;
}

.hint {
    margin-top: 20px;
}
